.App {
  text-align: center;
  
}
.pictures {
  display: inline-flex;
  flex-direction:  column ;
  flex: 2;
  width: 360px; 
  margin: 15px;
}
.App-title{
  font-family: monospace;
}
.textInput{
  border-radius: 6px;
  font-family: monospace;
}



